[Unit]
Description=Check Superego public IP TLS certificate twice daily

[Timer]
OnCalendar=*-*-* 00,12:25:00
RandomizedDelaySec=1800
Persistent=true

[Install]
WantedBy=timers.target
